._41jc{height:40px;width:40px}
.sp_x8LRjNNPBeP{background-image:url(/rsrc.php/v3/y5/r/8AJGtuPNZI8.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_x8LRjNNPBeP.sx_a50488{width:12px;height:12px;background-position:0 -17px}.sp_x8LRjNNPBeP.sx_9c88b1{background-position:0 0}

#bootloader_yZdIt{height:42px;}.bootloader_yZdIt{display:block!important;}