.sidebarMode #fbChatErrorNub{display:none}
._1p_w{margin-bottom:12px}._2_u{padding-bottom:0}._2_w{border-bottom:1px solid #d7dbde;padding:4px 0 16px 0}._5ktw ._2_w{border-bottom:0;padding-bottom:8px}._3w2b{height:294px}

#bootloader_he5Bd{height:42px;}.bootloader_he5Bd{display:block!important;}