.ReactLegacyMentionsInput{background-color:#fff}.ReactLegacyMentionsInput .TextInputAppearance{background:transparent;border:0}

#bootloader_npROe{height:42px;}.bootloader_npROe{display:block!important;}